* {
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  color: #595959;
}

body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100Vh;
}

.main {
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.01) 1.04%, #F5F5F5 100%);
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

input {
  background-color: #fff;
}
input:active {
  outline: none !important;
}
input:focus {
  outline: none;
}

.header {
  height: 125px;
  display: flex;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  /*font-family: 'Rubik', sans-serif */
}
.header h1 {
  margin: 0;
  padding: 0;
}
.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  flex-grow: 1;
  margin-left: 15px;
}
.header-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.banner {
  margin: 0 0 56px 0;
  padding: 68px;
  border: none;
  border-radius: 10px;
  background-color: bisque;
}
.banner-item {
  background-repeat: no-repeat;
  background-size: 100%;
}
.banner-item--title {
  margin-bottom: 15px !important;
  max-width: 50%;
  font-size: 39px;
  font-weight: 700;
  color: #302C34;
}
.banner-item--subtitle {
  max-width: 50%;
  font-size: 24px;
  font-weight: 400;
  color: #302C34;
}

.products-header {
  margin: 0 0 44px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.products-header--title {
  font-size: 36px;
  font-weight: 700;
  color: #000;
}
.products-header--search {
  padding: 5px 12px;
  min-width: 306px;
  height: 34px;
  flex-shrink: 0;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background: #FFF;
}
.products-header--search::placeholder {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.products-wrapper {
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.products-card {
  width: calc((100% - 48px) / 3);
  border: none;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.products-card__image {
  width: 100%;
}
.products-card__image img {
  width: 100%;
}

.footer {
  min-height: 124px;
}
.footer-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 36px;
}
.footer-nav {
  flex-grow: 1;
}
.footer-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 15px;
}
.footer-nav ul li {
  font-size: 18px;
  font-weight: 400;
  color: #595959;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

.btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  outline: none;
  cursor: pointer;
}
.btn-primary {
  border: 1px solid #1890FF;
  border-radius: 2px;
  background: #1890FF;
  color: #FFF;
}
.btn-outline {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.01);
  color: #595959;
}

@media (max-width: 991px) {
  .banner {
    padding: 10px;
  }
  .banner-item--title {
    max-width: 100%;
  }
  .banner-item--subtitle {
    max-width: 100%;
  }
  .products-card {
    width: calc((100% - 24px) / 2);
  }
}
@media (max-width: 576px) {
  .products-card {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .banner {
    padding: 10px;
  }
  .banner-item--title {
    font-size: 24px;
  }
  .banner-item--subtitle {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */