.main

.banner
  margin: 0 0 50px 0
  padding: 68px
  border: none
  border-radius: 10px
  background-color: bisque
  &-item   
    background-repeat: no-repeat
    background-size: 100% 
    &--title
      margin-bottom: 15px !important
      max-width: 50%
      font-size: 39px
      font-weight: 700      
      color: #302C34

      
    &--subtitle
      max-width: 50%
      ont-size: 24px
      font-weight: 400      
      color: #302C34


