.header
  height: 124px
  font-family: 'Nunito Sans', sans-serif
  /*font-family: 'Rubik', sans-serif
  &-box
    height: 100%
    border: 1px solid black
    display: flex
    align-items: center
    justify-content: space-between
  &-title
    flex-grow: 1
    margin-left: 15px
  